# This is a basic workflow to help you get started with Actions

name: VS 2019 CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: windows-latest
    strategy:
      matrix:
        arch: [ 'x86', 'x64', 'arm', 'arm64' ]
        config: [ 'Debug' ]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: setup-msbuild
        uses: microsoft/setup-msbuild@v1.0.1
      
      - name: Build 
        run: msbuild /p:Platform=${{ matrix.arch }} /p:Configuration=${{ matrix.config }}
        working-directory: folly/build
